.menu{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    padding-top:25px;
	
}

@media only screen and (min-width:1200px){
    .appContainer {
        width:50%;
        margin-left:25%;
    }
}
