.root{
    width:100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid Forestgreen;
    min-width: 550px;
}
.orderView,.orderButtonRow {
    flex:7;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 5px;
    
}

.orderButtonRow{
    display: flex;
    flex:1;
    flex-direction: row !important;
    padding-bottom: 20px;
    margin:auto;
}
.orderView div,.orderButtonRow div{
    width:100%;
    display: flex;
    flex-direction: row;
    
    padding:0px 20px
}

.orderView div div:first-child{
    flex:2;
}
.orderView div div:nth-child(2){
    flex:5; 
}

@media only screen and (min-width:1200px){
    .root{
        width:50%;
        margin:auto;
        flex-direction: column;
    }
    .orderView{
        flex-direction: row;
        margin:auto
    }

    .orderView div{
        flex-direction: column;
        padding:0px 5px 0px 0px;
    }    
        
    .orderView  div div:first-child{
        padding-right: 0 !important;
        margin-right: 5px;
    }
    .orderView  div div:first-child::after{
        content:"" !important; 
    }

    .orderButtonRow{
        width:50%;
    }
}


.orderView  div div:first-child{
    padding-right: 7px;
}
.orderView  div div:first-child::after{
    content:":";
}


.orderItem{
    text-align:center;
    padding-bottom:5px;
}

.orderButton{
    flex:1;
    height:3em;
    width:auto;
    max-width:100px;
    border:1px solid Forestgreen;
    border-radius:3px;
    color:forestgreen;
    display:flex;
    margin:auto;
}

.orderButton *{
    margin:auto;
}

.orderButton:hover{
    background-color:#f1f1f1;
    box-shadow:2px 2px gray;
}
.orderHeader{
    text-align: center;
}